

  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <side-menu></side-menu> 
    <!-- Page Content -->
    <div id="page-content-wrapper" class="container">      
        
      <router-outlet>

        <h1>Hi {{currentManager.name}}!</h1>
        <p>You're logged in with Angular 6!!</p>
        <p><a [routerLink]="['/login']">Logout</a></p>

      </router-outlet>
      
    </div> 
  </div>


<!--<h3>All registered users:</h3>
<ul>
  <li *ngFor="let manager of managers">
    {{manager.name}}
    - <a (click)="deleteManager(manager.id)" class="text-danger">Delete</a>
  </li>
</ul>-->


